<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
	
    <h:head>
        <title>Annuaire</title>
    </h:head>
    
	<h:body>
		
		<h1>Fiche personne</h1>
		
		<ul>
			<li><b>Numéro : </b> <h:outputText value="#{personBean.value.id}"/></li>
			<li><b>Prénom : </b> <h:outputText value="#{personBean.value.firstName}"/></li>
			<li><b>Nom : </b> <h:outputText value="#{personBean.value.lastName}"/></li>
			<li>etc.</li>		
		</ul>
		
    </h:body>
</html>

